@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;600&display=swap');

* {
    font-family: 'Playpen Sans', cursive;
    font-size: 1.1rem;
}

a {
    text-decoration: none !important;
}
